@tailwind base;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cutive&family=Open+Sans:wght@400;700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  position: relative;
  outline: none;
}
body {
  background-color: #eeeeee;
}
p {
  @apply my-6;
}
a {
  @apply border-b border-transparent border-dashed z-1;
}
a:not([no-link]):hover {
  @apply border-black;
}
.cta:hover,
a[no-link]:hover {
  transform: scale(1.03);
}
input:invalid {
  box-shadow: none !important;
  border: none !important;
  outline: none;
}
input:invalid:focus {
  outline: dotted 1px rgba(255, 0, 0, 0.4);
}
a:not([no-link])::before {
  content: "";
  height: 50%;
  width: 100%;
  z-index: -1;
  margin-bottom: 1px;
  opacity: 0.2;
  @apply bg-yellow bottom-0 left-0 absolute;
}

.medium-zoom-overlay {
  z-index: 10;
}

@tailwind components;
